html {
  scroll-behavior: smooth;
}

body {
  color: #828485;
  font-family: 'Montserrat', 'sans-serif';
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

body * {
  letter-spacing: 0.04em;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0 35px;
}

h1, h2, h3 {
  font-size: 24px;
  color: #455088;
}

h3 {
  position: relative;
  text-align: left;
}

h3::after {
  content: " ";
  position: absolute;
  background: rgba(253, 237, 25, 0.55);
  border-radius: 32px;
  width: 100%;
  height: 16px;
  left: 0;
  top: 50%;
  z-index: -1;
}

a {
  font-size: 21px;
  color: #EEEEEE;
  text-decoration: none;
}

p {
  font-size: 18px;
  color: #828485;
  line-height: 1.6em;
}

img {
  width: 100%;
  min-width: 200px;
}

a button {
  font-size: 12px;
  color: #EEEEEE;
  text-decoration: none;
  display: inline-block;
}

button {
  background: radial-gradient(50% 50% at 50% 50%, #455088 0%, #4A5279 100%);
  border-radius: 46px;
  border: 0;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 16px 28px;
  font-family: inherit;
  width: 70%;
  min-width: 200px;
  cursor: pointer;
}

button.desktopBtn {
  display: none;
}

.polaroid img {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  width: 100%;
  max-width: 400px;
  display: block;
  margin: auto;
  image-rendering: -webkit-optimize-contrast;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.purpleBorder {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
}

.purpleBorder img {
  width: 95%;
  height: auto;
  display: block;
  margin-right: auto;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.purpleBorder::after {
  content: " ";
  position: absolute;
  width: 90%;
  height: 95%;
  left: 10%;
  top: 10%;
  z-index: -1;
  border: 6px solid rgba(195, 174, 212, 0.55);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}

#CV div p {
  padding-bottom: 100px;
}

.bgGradient {
  margin: 0 -35px;
  padding: 0 35px;
  margin-bottom: -70px;
  padding-bottom: 70px;
  background: linear-gradient(113.56deg, #F9F7DF 0%, #EBE3F5 100%);
}

.bgGradient img {
  margin: auto;
  margin-top: -60px;
  padding-bottom: 30px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transform: rotate(3.51deg);
          transform: rotate(3.51deg);
  max-width: 430px;
  display: inline-block;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Images/backgrounds/Shape.png");
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 400px;
}

main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../Images/backgrounds/Grid.png");
  background-position-x: left;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -2;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

section {
  padding: 35px 0;
}

section:last-of-type {
  padding-bottom: 70px;
}

section#myWork > div:last-child {
  display: none;
}

.bal {
  width: 70%;
}

/* Media Query for desktop Devices */
@media (min-width: 480px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 146px;
    padding-right: 146px;
    padding-top: 53px;
    max-width: 1080px;
  }
  main {
    height: calc(100vh - 53px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    text-align: left;
  }
  main div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  main button {
    width: 50%;
  }
  main .polaroid img {
    margin-right: initial;
    -webkit-transition: .4s;
    transition: .4s;
  }
  main .polaroid img:hover {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  main::after {
    background-position-y: top;
    top: 20%;
    height: 350px;
    background-repeat: repeat;
  }
  main::before {
    background-position-x: right;
    background-position-y: center;
    right: 0%;
    top: 25%;
    max-width: initial;
  }
  button.desktopBtn {
    display: inline-block;
  }
  button.mobileBtn {
    display: none;
  }
  section#myWork {
    margin-bottom: 160px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1.5fr 1fr;
        grid-template-rows: 1.5fr 1fr;
    gap: 30px;
    position: relative;
  }
  section#myWork:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url("../Images/backgrounds/Grid.png");
    background-position-x: left;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -2;
    right: 100%;
    top: 0;
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
  }
  section#myWork:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url("../Images/backgrounds/Grid.png");
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -2;
    left: 100%;
    top: 30%;
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
  }
  section#myWork > div {
    max-width: 350px;
  }
  section#myWork > div:nth-child(2) {
    margin-top: 30%;
    margin-left: auto;
  }
  section#myWork > div:nth-child(3) {
    margin-left: 20%;
  }
  section#myWork > div:last-child {
    display: block;
    margin-left: 28%;
    margin-top: 25%;
  }
  section#CV {
    margin: 0 -146px;
    padding: 0 146px;
    text-align: left;
    position: relative;
  }
  section#CV::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0;
    background: linear-gradient(113.56deg, #F9F7DF 0%, #EBE3F5 100%);
    z-index: -1;
    overflow: hidden;
  }
  section#CV > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section#CV > div > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  section#CV > div > div p {
    padding-bottom: 0;
  }
  section#CV .bgGradient {
    background: none;
    margin: 0;
    padding: 0;
  }
  section#CV .bgGradient img {
    margin-top: -130px;
    margin-bottom: 20px;
    margin-right: initial;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  section#CV .bgGradient img:hover {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=main.css.map */